@charset "UTF-8";

.mapWrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	height:94%;
}

/***************커스텀 컨트롤***************/
.radius_border{
	border:1px solid #919191;
	border-radius:5px;
}     
.custom_typecontrol {
	position:absolute;
	top:10px;
	right:10px;
	overflow:hidden;
	width:130px;
	height:30px;
	margin:0;
	padding:0;
	z-index:4;
	font-size:12px;
	font-family:'Malgun Gothic', '맑은 고딕', sans-serif;
}
.custom_typecontrol span {
	display:block;
	width:65px;
	height:30px;
	float:left;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.custom_typecontrol .cusbtn {
	background:#fff;
	background:linear-gradient(#fff,  #e6e6e6);
}       
.custom_typecontrol .cusbtn:hover {
	background:#f5f5f5;
	background:linear-gradient(#f5f5f5,#e3e3e3);
}
.custom_typecontrol .cusbtn:active {
	background:#e6e6e6;
	background:linear-gradient(#e6e6e6, #fff);
}    
.custom_typecontrol .selected_cusbtn {
	color:#fff;
	background:#425470;
	background:linear-gradient(#425470, #5b6d8a);
}
.custom_typecontrol .selected_cusbtn:hover {
	color:#fff;
}   
.custom_zoomcontrol {
	position:absolute;
	top:50px;
	right:10px;
	width:36px;
	height:80px;
	overflow:hidden;
	z-index:4;
	background-color:#f5f5f5;
} 
.custom_zoomcontrol span {
	display:block;
	width:36px;
	height:40px;
	text-align:center;
	cursor:pointer;
	z-index:10;
}     
.custom_zoomcontrol span img {
	width:15px;
	height:15px;
	padding:12px 0;
	border:none;
	vertical-align: middle;
}             
.custom_zoomcontrol span:first-child{
	border-bottom:1px solid #bfbfbf;
}   
/***************마커 필터 카테고리***************/
#category {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    overflow: hidden;
    z-index: 2;
}

#category li {
    float: left;
    list-style: none;
    width: 50px;
    border-right: 1px solid #acacac;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}
#category li.on {
    background: rgb(221, 219, 219);
}
#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}
#category li:last-child{
    margin-right: 0;
    border-right: 0;
}
#category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
}
/***************마커 이미지***************/
#category li .missing-c {
    background-image:url("../img/missingMark.png");
    background-size: 27px 28px;
}
#category li .shelter-c {
    background-image:url("../img/shelterMark.png");
    background-size: 27px 28px;
}
#category li .hospital-c {
    background-image:url("../img/hospitalMark.png");
    background-size: 27px 28px;
}
/**************** 버튼 ***************/
.w-btn{
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 3px;
	background: #fff;
	z-index: 3;
}
.writing-btn{
	background-image: url("../img/writingImg.png");
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	vertical-align: middle;
}
.ml-btn{
	position: absolute;
	right: 15px;
	top: 135px;
	border-radius: 1px;
	background: #fff;
	z-index: 3;
}
.mylocation-btn{
	background-image: url("../img/myLocationButton.gif");
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}
/***************모달 설정***************/
.modal-bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
	z-index:999;
}
.modal-wrap{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:800px;
	height:1000px;
	background:#fff;
	z-index:1000;
}