@charset "UTF-8";

.mapWrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	height:94%;
}

/***************마커 필터 카테고리***************/
#category {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    overflow: hidden;
    z-index: 2;
}

#category li {
    float: left;
    list-style: none;
    width: 50px;
    border-right: 1px solid #acacac;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}
#category li.on {
    background: rgb(221, 219, 219);
}
#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}
#category li:last-child{
    margin-right: 0;
    border-right: 0;
}
#category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
}
/***************마커 이미지***************/
#category li .missing-c {
    background-image:url("../img/missingMark.png");
    background-size: 27px 28px;
}
#category li .shelter-c {
    background-image:url("../img/shelterMark.png");
    background-size: 27px 28px;
}
#category li .hospital-c {
    background-image:url("../img/hospitalMark.png");
    background-size: 27px 28px;
}
/****************양식 작성 버튼***************/
.w-btn{
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 3px;
	background: #fff;
	z-index: 3;
}
.writing-btn{
	background-image: url("../img/writingImg.png");
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	vertical-align: middle;
}
.ml-btn{
	position: absolute;
	right: 15px;
	top: 235px;
	border-radius: 1px;
	background: #fff;
	z-index: 3;
}
.mylocation-btn{
	background-image: url("../img/myLocationButton.gif");
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}
/***************모달 설정***************/
.modal-bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
	z-index:999;
}
.modal-wrap{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:300px;
	height:300px;
	background:#fff;
	z-index:1000;
}