<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
<!-- ORM, Mapper파일 -->
	<insert id="create" parameterType="bbsVO">	
		insert into product values (null,#{product_title},#{product_content},#{product_price})
	</insert>
</mapper>